#ingresoTareas{
    display: flex;
    justify-content: center;
}
#botonesTareas{
    display: flex;
    align-items: center;
    justify-content: center;
}

#columnasTareas {
    display: flex;
    justify-content: center;
    
}

#columnaToDo{
    justify-content: center;
    margin-left: -10em;
    margin-right: 10em;

    
}

#columnaDoing{
    justify-content: center;
    margin-right: 10em;
}

#columnaDone{
    justify-content: center;
}

.bloqueTarea{
    display: flex;
    flex-direction: column;
    width: 20em;
    justify-content: center;
    align-items: center;
    background: rgb(170, 174, 192);
    color: white;
    border-radius: 3px;
    margin-top: 2em;
    margin-bottom: 4em;
    position: relative;
}

.nombreTareas{
    position: relative;
    margin-top: 20px;
    margin-bottom: 10px;
}

.botonEliminar{
    position: relative;
    margin-top: -40px;
    margin-left: 260px;
    background-color: red;
}

.botonSubirRango{
    position: relative;
    margin-top: 10px;
    margin-left: 260px;
    background-color: blue;
}

.botonBajarRango{
    position: relative;
    margin-top: -21px;
    margin-left: -260px;
    margin-bottom: 10px;
    background-color: yellow;
}